body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

#create-session {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

#create-session h2 {
    margin-bottom: 20px;
}

#create-session input[type="text"] {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#create-session button {
    padding: 10px 20px;
    background: #757373;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#create-session button:hover {
    background: #5a5a5a;
}

#chat-interface {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#chat-interface h1 {
    margin-bottom: 20px;
}

#chat-interface input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#chat-interface button {
    padding: 10px 20px;
    background: #757373;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#chat-interface button:hover {
    background: #5a5a5a;
}

#messages {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f9f9f9; /* Added background color for better visibility */
}